
.button {
    --mr-pink:#FEE9FF;
    --mr-green:#D8E9E4;
    --mr-pink-accent:#FF69B4;
    --mr-green-accent:#5CA390;
    --mr-primary-text:#1D1D1D;
    --mr-secondary-text:#263742;
    --mr-light-text:#fff;
    --mr-drop-shadow:4px 2px 10px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: 2px solid transparent;
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    transition: transform 0.2s ease;
}

.button[type=primary] {
    background-color: var(--mr-pink-accent);
    box-shadow: var(--mr-drop-shadow);
    color: var(--mr-light-text);
}
.button[type=primary-outline] {
    background-color: #fff;
    box-shadow: var(--mr-drop-shadow);
    color: var(--mr-pink-accent);
    border: 2px solid var(--mr-pink-accent);
}

.button[type=secondary] {
    background-color: var(--mr-green-accent);
    box-shadow: var(--mr-drop-shadow);
    color: var(--mr-light-text);
}

.button:hover,
.button:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(-3px);
}

.button svg {
    vertical-align: middle;
    margin: 0 6px 0 0;
    font-size: 24px;
}