
.button {
    --mr-pink:#FEE9FF;
    --mr-green:#D8E9E4;
    --mr-pink-accent:#FF69B4;
    --mr-green-accent:#5CA390;
    --mr-primary-text:#1D1D1D;
    --mr-secondary-text:#263742;
    --mr-light-text:#fff;
    --mr-drop-shadow:4px 2px 10px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: 2px solid transparent;
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.15s ease-in-out;
}

.button[type=primary] {
    background-color: var(--mr-pink-accent);
    box-shadow: var(--mr-drop-shadow);
    color: var(--mr-light-text);
}
.button[type=primary-outline] {
    background-color: #fff;
    box-shadow: var(--mr-drop-shadow);
    color: var(--mr-pink-accent);
    border: 2px solid var(--mr-pink-accent);
}

.button[type=secondary] {
    background-color: var(--mr-green-accent);
    box-shadow: var(--mr-drop-shadow);
    color: var(--mr-light-text);
}
.button[type=load] {
    background-color: #EFEFEF;
    color: var(--mr-secondary-text);
    display: block;
    margin: 0 auto;
}
.button[type=social] {
    background-color: transparent;
    color: #5C5C5C;
    padding: 12px;
    
}
.button[type=social] svg {
    margin: 0;
    font-size: 28px; 
}
.button[type=social]:nth-child(2) {
    font-size: 0; 
    /* border: 1px solid red; */
}

.button svg {
    vertical-align: middle;
    margin: 0 6px 0 0;
    font-size: 24px;
}

.button:hover,
.button:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(-3px);
}

.group_social_container {
    padding: 12px 0 0 0 ;
    height: 110px;
    text-align: center;
}
.group_social_container p {
    padding: 8px 0;
    font-weight: 500;
}

.button_group_social{
    margin: 0 auto;
    max-width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button[type=social]:hover,
.button[type=social]:focus {
    box-shadow: none;
    color: var(--mr-green-accent);
    transform: none;
}
