.header {
    --mr-pink:#FEE9FF;
    --mr-green:#D8E9E4;
    --mr-pink-accent:#FF69B4;
    --mr-green-accent:#5CA390;
    --mr-primary-text:#1D1D1D;
    --mr-secondary-text:#263742;
    --mr-light-text:#fff;
    --mr-drop-shadow:4px 2px 10px 0px rgba(0, 0, 0, 0.15);

    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header h1 {
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 320px;
    padding: 48px 0;
}

.header .page_title {
    text-align: left;
    justify-self: flex-start;
    align-self: flex-start;
    padding: 32px 0;

    /* width: 320px; */
    /* padding: 48px 0; */
}


/* Desktop rules */
@media (min-width: 768px) {
    .header {
        max-width: 724px;
        margin: 0 auto;
    }
    .header h1 {
        text-align: left;
    }
    .header .page_title {
        font-size: 40px;
    }
    
}