.card {
    --mr-pink:#FEE9FF;
    --mr-green:#D8E9E4;
    --mr-pink-accent:#FF69B4;
    --mr-green-accent:#5CA390;
    --mr-primary-text:#1D1D1D;
    --mr-secondary-text:#263742;
    --mr-light-text:#fff;
    --mr-drop-shadow:4px 2px 10px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    /* width: 350px; */
    height: 150px;
    margin: 0 auto 20px auto;  
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.card:first-of-type {
    margin-top: 24px;
}
.card:last-of-type {
    margin-bottom: 24px;
}

/* Targets next/image element */
.card span {
    border-radius: 10px;
    box-shadow: var(--mr-drop-shadow);
}

.card .text_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 12px;
    flex: 1;
}

.card .text_content h5 {
    text-transform: capitalize;
}

.card .text_content h5[type="review"] {
    color: var(--mr-pink-accent);
}
.card .text_content h5[type="guide"] {
    color: var(--mr-green-accent);
}
.card .text_content p {
    font-size: 16px;
}

