/* Figma design dimensions desktop */
/* columm width 162px */
/* outer margin 224px each */
/* gutter 24px */
/* Content contained within 1094px */



.nav {
    --mr-pink:#FEE9FF;
    --mr-green:#D8E9E4;
    --mr-pink-accent:#FF69B4;
    --mr-green-accent:#5CA390;
    --mr-primary-text:#1D1D1D;
    --mr-secondary-text:#263742;
    --mr-light-text:#fff;
    --mr-drop-shadow:4px 2px 10px 0px rgba(0, 0, 0, 0.15);

    width: 100vw;

    min-height: 72px;
    margin: 0;
    box-shadow: var(--mr-drop-shadow);
    padding: 8px 24px 0 16px;
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}

.nav .desktop,
.nav .brand,
.nav ul  {
    display: none;
}

.brand_mobile {
    margin: -12px auto 0 auto;
    font-weight: 600;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    align-self: center;
    padding: 0;
}

.instagram {
    color: var(--mr-pink-accent);
    vertical-align: middle;
    font-size: 32px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin: 0 16px 0 0;
}

.hamburger {
    /* grid-column:1; */
    z-index:3;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    width: 40px;
    height: 32px;
    margin: 10px auto 0 16px;
} 

.hamburger_lines {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    /* right: 20px; */
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger input {
    width: 40px;
    height: 32px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 5;
    opacity: 0;
    -webkit-touch-callout: none;
    cursor: pointer;
}

.hamburger_lines div {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 6px;
    background: var(--mr-secondary-text);
    transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.35s ease;
}

.hamburger div:first-of-type {
    transform-origin: 0% 0%;
    
  }

  .hamburger div:nth-of-type(2) {
    transition: transform 0.2s ease-in-out
  }

.hamburger div:last-of-type {
    transform-origin: 0% 100%;
    
  }

  .hamburger input[type="checkbox"]:checked ~ .hamburger_lines div:first-of-type {
    transform: rotate(45deg);
  }

  .hamburger input[type="checkbox"]:checked ~ .hamburger_lines div:nth-of-type(2) {
    transform: scaleY(0);
  }
  
  .hamburger input[type="checkbox"]:checked ~ .hamburger_lines div:last-of-type {
    transform: rotate(-45deg);
  }


.hamburger ul {
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    left: -260px;
    top: -20px;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translate(-150%, 0);
    /* Height set by js to 100% of document height */
    width: 100vw;
    margin: 0;
    padding: 96px 0 0 24px;
    opacity: 0;
    transform-origin: 0% 0%;
    transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
      /* Stops flickering of text in Safari */
      -webkit-font-smoothing: antialiased;
  }
  
  /* Backdrop-filter not supported in firefox */
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      .hamburger ul {
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(16px);
      }
    }


  .hamburger input[type="checkbox"]:checked ~ ul {
    transform: translateX(225px);
    opacity: 1;

  }

  .hamburger ul li {
    padding: 0 0 10px 0;
  }
  .hamburger ul li:last-of-type {
    padding: 16px 0 0 0;
  }
  .hamburger ul li a {
    font-size: 24px;
    font-weight: 500;
  }
  .hamburger ul li a:hover,
  .hamburger ul li a:active {
    border-bottom: 2px solid var(--mr-pink-accent);
  }

  .hamburger ul li a svg {
    font-size: 24px;
    vertical-align: middle;
    margin: 0 4px 0 0;
  }


/* Anything ABOVE 768px will take these styles */
@media (min-width: 768px) {
    .hamburger{
        display: none;
    }
    .nav .desktop {
        padding: 16px 0;
        margin: 0 auto;
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav .brand {
        display: block;
        font-weight: 800;
        font-size: 28px;
        font-family: 'Nunito', sans-serif;
    }

    .nav .brand_mobile,
    .nav .instagram {
      display: none;
    }
    .nav .desktop ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }
    
    .nav .desktop ul li {
        padding: 0px 16px;
    }
    .nav .desktop ul li:last-of-type {
        padding: 0 0 0 16px;
    }
    
    .nav .desktop ul li a {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
    }
    .nav .desktop ul li svg {
        color: var(--mr-pink-accent);
        vertical-align: middle;
        font-size: 28px;
        cursor: pointer;
        transition: transform 0.2s ease;
    }
    .nav .desktop ul li a:hover,
    .nav .desktop ul li a:focus {
        color: var(--mr-pink-accent);
        border-bottom: 2px solid var(--mr-pink-accent);
    }
    .nav .desktop ul li a:last-of-type:hover,
    .nav .desktop ul li a:last-of-type:focus {
        border-bottom: none;
    }
    .nav .desktop ul li a svg:hover,
    .nav .desktop ul li a svg:focus{
    transform: translateY(-3px);
    }

}

