.section {
    --mr-pink:#FEE9FF;
    --mr-green:#D8E9E4;
    --mr-pink-accent:#FF69B4;
    --mr-green-accent:#5CA390;
    --mr-primary-text:#1D1D1D;
    --mr-secondary-text:#263742;
    --mr-light-text:#fff;
    --mr-drop-shadow:4px 2px 10px 0px rgba(0, 0, 0, 0.15);

    padding: 20px 0;
    margin: 0 auto;
}

.section .title {
    padding: 0 8px 20px 0;
}

.section a {
    font-size: 20px;
    border-bottom: 2px solid var(--mr-primary-text);
}

.section a svg {
    font-size: 32px;
}
.section a:hover,
.section a:focus
 {
     color: var(--mr-pink-accent);
    border-bottom: 2px solid var(--mr-pink-accent);
}

/* Overrides global h2 styling. Only for the to be read section as gap between section title and content too great due to slider controls */
.section h2#tbr_title {
    line-height: 28px;
    padding: 0 8px 0 0;
}


/* remove pagination styles */
.section .pagination {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 230px;
    padding: 32px 0 0 0;
    margin: 0 auto;
}

.section .pagination a {
    border-bottom: none;
}

.section .pagination a#page_number{
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #97C4B8;
    color: #fff;
}

.section .pagination a[disabled]  {
    opacity: 0.55;
}


@media (min-width:768px) {
.section {
    padding: 24px 0 40px 0;
}

}